[SRI] Inconsistent "Hello, world" examples

From: http://lists.w3.org/Archives/Public/public-webappsec/2015Jan/0061.html

The example content is given as "Hello, world!" in the 3.1 text, but as "Hello, world." in the note (! vs .). The ni values are calculated from the "." version.

Curiously (unfortunately?) it is close but slightly different from the example content in RFC6920 section 8.1: "Hello World!".