[SRI] Inconsistencies between wording and examples with base64 "=" padding

From: http://lists.w3.org/Archives/Public/public-webappsec/2015Jan/0061.html

The ni:///sha-512 URI in 3.2.1 "Agility" needs to omit the "=" padding at the end of the base64url encoded value. See RFC6920 section 3 definition of "Digest Value":

  "The digest value MUST be encoded using the base64url

   [RFC4648] encoding, with no "=" padding characters."



WRONG (twice)

  ni:///sha-512;rQw3wx1psxXzqB8TyM3nAQlK2RcluhsNwxmcqXE2YbgoDW735o8TPmIR4uWpoxUERddvFwjgRSGw7gNPCwuvJg==?ct=text/plain

RIGHT

  ni:///sha-512;rQw3wx1psxXzqB8TyM3nAQlK2RcluhsNwxmcqXE2YbgoDW735o8TPmIR4uWpoxUERddvFwjgRSGw7gNPCwuvJg?ct=text/plain

Already fixed in df64affc133914b5ab0612dfaa4913590f15a7e0.